img{
  height: 500px;
  width: 500px;
  display:block;
  margin: 50px auto;
}
body{
  background-color: rgb(224, 253, 230);
  color: rgb(134, 93, 93);
  font-family:'Montserrat', sans-serif;
  font-weight: bold
}
h1, h2, ol, p{
  margin: 50px auto;
  width: 50%;
}

h1{
  text-align: center
}
ul li{
  text-align: right;
  list-style: none;
  display: inline-block;
  margin: 15px;
}
input,textarea,button{
  display: block;
  margin:15px auto;
  width:33%;
  height:30px;
}

textarea{
resize: vertical;
height:100px;
}
@media(max-width:400px){
  img{
    width:100%
  }
}